.container {
  background-color: #f3f4f6;
  padding: 40px;
  min-height: 100vh;
  text-align: center;
}

.title {
  color: #2d3748;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.25rem;
  color: #4a5568;
}
.appWrapper {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  /* Add the blur effect here */
  backdrop-filter: blur(50px); /* Adjust the pixel value for more or less blur */
  -webkit-backdrop-filter: blur(50px); /* For Safari compatibility */
}